body {
    font-family: "Poppins";
    font-size: 16px;
    padding: 19px;
    margin: 0;
    background-color: #fafafa;
}

.page_title,
.job_title {
    font-family: "PT Serif";
}

.page_title,
.article_header {
    margin: 0;
} 

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (min-width: 760px) {
    body {
        max-width: 1114px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 110px;
    }
 
    .page_title {
        margin-bottom: 0;
    }
}