
.page_title { 
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.045em;
    margin-bottom: 38px;
}

.article_header {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    text-transform: uppercase;
}

.image_container {
    margin: 0;
}

.image:nth-child(even) {
    margin-top: 48px;
}

.image:nth-child(odd) {
    margin: 0;
}

.image {
    position: relative;
    margin-bottom: 12px;
}

.image span {
    display: block;
}

.page_header {
    margin-bottom: 70px;
}

.images_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
}

.image img {
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.job_title { 
    font-size: 12px;
    position: absolute;
    right: 0%;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.team_name {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    color: #000000;
}

@media (min-width: 462px) {
    .image {
        width: 177px;
    }
}

@media (min-width: 500px) {
    .image {
        width: 100%;
    }

    .job_title {
        right: 5%;
    }
}

@media (min-width: 760px) {
    body {
        max-width: 1114px;
        margin-left: auto;
        margin-right: auto;
    }
 
    .page_title {
        margin-bottom: 0;
    }

    .page_header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
 
    .page_article {
        max-width: 439px;
    }

    .images_list {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 48px;
    }

    .image:nth-child(even) {
        margin-top: 0;
    }

    .image:nth-of-type(2),
    .image:nth-of-type(5) {
        margin-top: 70px;
    }

    .team_name {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
    }
}
